<p id="notice"><%= notice %></p>

<h1>Listing Donors</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>Full name</th>
      <th>Solicitation</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Relationship</th>
      <th>Singer</th>
      <th>Comment</th>
      <th>Anonymous</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |donor| %>
    <% if donor.do_not_contact %>
      <tr style="background-color: red; color: white">
    <% elsif donor.update_address %>
      <tr style="color: red">
    <% else %>
      <tr>
    <% end %>
        <td><%= donor.last_name %></td>
        <td><%= link_to donor.full_name, donor %></td>
        <td><%= donor.solicitation %></td>
        <td><%= donor.address %></td>
        <td><%= donor.city %></td>
        <td><%= donor.state %></td>
        <td><%= donor.zip %></td>
        <td><%= donor.phone %></td>
        <td><%= donor.email %></td>
        <td><%= donor.relationship %></td>
        <td><%= donor.singer %></td>
        <td><%= donor.comment %></td>
        <td><%= donor.anonymous %></td>
        <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  Key: <span style="color: red">Address needs updating</span>, <span style="background-color: red; color: white">Do not contact</span>
</p>
<p>
  <%= link_to 'New Donor', new_donor_path %> |
  <%= link_to 'Home', root_path %>
</p>
