<p id="notice"><%= notice %></p>

<h1>Listing Unthanked Donations</h1>

<p><em>(not including corporate matches)</em></p>

<%= form_tag('/donors/thank') do %>
<table>
  <thead>
    <tr>
      <th>Donor</th>
      <th>Unthanked Qty</th>
      <th>Unthanked Total</th>
      <th>Last year YTD</th>
      <th>This year YTD</th>
      <th>Mark Thanked</th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td><%= link_to donor.full_name, donor %></td>
        <td><%= donor.unthanked_qty %></td>
        <td><%= number_to_currency(donor.unthanked_amount) %></td>
        <td><%= number_to_currency(donor.ytd_amount(Time.now.year-1)) %></td>
        <td><%= number_to_currency(donor.ytd_amount) %></td>
        <td><%= check_box_tag("donors[#{donor.id}][thanked]", "1", true) %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= submit_tag "Mark Thanked" %></td>
    </tr>
  </tbody>
</table>
<% end %>
<p>
  <%= link_to 'Above data as a csv file', donors_unthanked_path(:csv) %> |
  <%= link_to 'Home', root_path %>
</p>
