<p id="notice"><%= notice %></p>

<h1>SDS Donor Database Website</h1>

<ol>
  <li><%= link_to 'All Donors', donors_path %> (New donors or donations start here)</li>
  <li><%= link_to 'Donors by Circle', circles_donors_path %></li>
  <li><%= link_to 'Mailable Donors', mailing_list_donors_path %> (<%= link_to 'csv', mailing_list_donors_path(:csv) %>)</li>
  <li><%= link_to 'All Donations by Date', donations_path %> (<%= link_to 'this year', donations_path(:year => Time.now.year) %>,
    <%= link_to 'last year', donations_path(:year => Time.now.year-1) %>)</li>
  <li><%= link_to 'Donations by Singer', donations_by_singer_path %> (<%= link_to 'this year', donations_by_singer_path(:year => Time.now.year) %>,
    <%= link_to 'last year', donations_by_singer_path(:year => Time.now.year-1) %>)</li>
  <li><%= link_to 'Unthanked Donations', donors_unthanked_path %> (<%= link_to 'csv', donors_unthanked_path(:csv) %>)</li>
</ol>
<p>Year to date total donations in <%= Time.now.year %>: <strong><%= number_to_currency(@ytd_total) %></strong> (last year: <%= number_to_currency(@last_ytd_total) %>)</p>
<% if @current_user.is_admin? %>
<h2>Admin actions</h2>
<ol>
  <li><%= link_to 'Manage Users', users_path %></li>
</ol>
<% end %>
<p><%= link_to 'Dump database of donors', donors_path(:csv) %> | <%= link_to 'Dump database of donations', donations_path(:csv) %></p>
