<p id="notice"><%= notice %></p>

<h1>Listing Unthanked Donations</h1>

<p><em>(not including corporate matches)</em></p>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Donor</th>
      <th>Amount</th>
      <th>YTD Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.date %></td>
        <td><%= link_to donation.full_name, donor_path(donation.donor_id) %></td>
        <td><%= number_to_currency(donation.amount) %></td>
        <td><%= number_to_currency(donation.ytd_amount) %></td>
        <td><%= link_to 'Edit', edit_donor_donation_path(donation.donor_id, donation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'Above data as a csv file', donations_unthanked_path(:csv) %> |
  <%= link_to 'Home', root_path %>
</p>
